.cell-security{
	font-style:italic;
}
html, body {
  margin: 0;
  padding: 0;
  height:100%;
}
body{
	background-color: White;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	height:99%;
	width: 99%;
}

.page-container {
	width: 100%;
	height: 99%;
	margin:0 auto;
	border: 1px solid #ccc;
	padding-bottom:5px;
	overflow:hidden;
	position: relative;
	overflow: hidden;
}
h1 {
    font-size: 16px;
    margin: 5px 0;
	background-color: #000;
    color: #FFFFFF;
	text-align: center;
	line-height: 30px;
}
.selected-position {
	background-color: #ccc;
	margin-bottom: 10px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.layout-info {
	line-height: 30px;
	border-top:1px solid #ccc;
	position: absolute;
	bottom:0px;
	width: 100%;
}

.ui-state-default.slick-header-column {
	background-color: gray;
	color: #fff;
}
#positionsGrid{
	width: 100%;
	min-height: 1px;
	position: absolute;
	top:75px;
	bottom: 30px;
	
}


/* Modify */
.positive {
    color: #F79F20;
    font-weight: bold;
}

.negative {
    color: #EF4623;
    font-weight: bold;
}
.security {
	color: green;
}




/* -----------------------------------------------------------------------------
 * Narrow Layout (0-499)
 * -------------------------------------------------------------------------- */
@media screen and (max-width: 499px) {
    .layout-info:before { content: "Narrow Layout (0-499)"; }

    /* hide priority2 and priority3 columns */
    .priority2 { display: none; }
    .priority3 { display: none; }
    
    /* Table styles */
    #positions-table th {
        font-size: 16px;
        height: 44px;
    }
    #positions-table td {
        font-size: 16px;
        height: 44px;
    }
}

/* -----------------------------------------------------------------------------
 *  Medium Layout (500-899)
 * -------------------------------------------------------------------------- */
@media screen and (min-width: 500px) and (max-width: 899px) {
    .layout-info:before { content: "Medium Layout (500-899)"; }

    /* hide priority3 columns */
    .priority3 { display: none; }
    
    /* Table styles */
    #positions-table th {
        font-size: 16px;
        height: 44px;
    }
    #positions-table td {
        font-size: 16px;
        height: 44px;
    }
}

/* -----------------------------------------------------------------------------
 *  Wide Layout (900+)
 * -------------------------------------------------------------------------- */
@media screen and (min-width: 900px) {
    .layout-info:before { content: "Wide Layout (900+)"; }
    
    /* Table styles */
    #positions-table th {
        font-size: 13px;
        height: 30px;
    }
    #positions-table td {
        font-size: 14px;
        height: 32px;
    }
}