body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

h1 {
    font-size: 16px;
    margin: 10px 0;
}

/* -----------------------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------------------- */
/* override the default grey background */
.ui-body-c {
    background: white;
}

.positive {
    color: #F79F20;
    font-weight: bold;
}

.negative {
    color: #EF4623;
    font-weight: bold;
}

/* -----------------------------------------------------------------------------
 * Alignment
 * -------------------------------------------------------------------------- */
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* -----------------------------------------------------------------------------
 * Selected Position
 * -------------------------------------------------------------------------- */
#selected-position {
    background-color: #E0E0E0;
    font: normal normal 20px/35px Arial;
    height: 35px;
    margin-bottom: 10px;
}

/* -----------------------------------------------------------------------------
 * Layout Information
 * -------------------------------------------------------------------------- */
.layout-info {
    bottom: 0;
    font-size: 10px;
    line-height: 25px;
    margin-top: 5px;
    position: absolute;
}