/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body {
    height: 100%;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    position: relative;
}

/* -----------------------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------------------- */
.positive {
    color: #F79F20;
    font-weight: bold;
}

.negative {
    color: #EF4623;
    font-weight: bold;
}

/* -----------------------------------------------------------------------------
 * Header
 * -------------------------------------------------------------------------- */
.header {
    background-color: #404040;
    color: #ffffff;
    height: 44px;
    text-align: center;
}

.h1 {
    font: normal normal 20px/44px Arial;
    margin: 0;
}

/* -----------------------------------------------------------------------------
 * Selected Position
 * -------------------------------------------------------------------------- */
.selected-position {
    background-color: #E0E0E0;
    font: normal normal 20px/35px Arial;
    height: 35px;
    margin: 10px 0;
    padding: 0 10px;
}

/* -----------------------------------------------------------------------------
 * Layout Information
 * -------------------------------------------------------------------------- */
.layout-info {
    bottom: 0;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    padding: 0 10px;
    position: absolute;
}

/* -----------------------------------------------------------------------------
 * Alignment
 * -------------------------------------------------------------------------- */
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}